*{
    background: transparent;
    color: white;
}

.about{
    position:sticky;
    padding-bottom: 99px;

}

p{
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    font-weight: 100;
    font-size: 1.6rem;
    word-spacing: 3px;
    animation: fadeIn 5s;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}