*{
    background: transparent;
    color: white;
}

.about{
    position:sticky;
    padding-bottom: 21px;

}

p{
    display: flex;
    justify-content: center;

    padding-left: 7%;
    padding-right: 7%;
    color: white;
    font-weight: 100;
    font-size: 2.1rem;
    animation: fadeIn 5s;
}

@media only screen and (max-width : 933px) {
    .about{
        p{
        font-size: 1.9rem;
        }
        padding-bottom: 21px;

    }

}

@media only screen and (max-width : 533px) {
    .about{
        p{
        font-size: 1.6rem;

        }
        padding-bottom: 21px;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}