*{
    background: transparent;
    color: white;
}

.contact{
    position:sticky;
}

p{
    display: flex;
    justify-content: center;

    padding-left: 7%;
    padding-right: 7%;
    color: white;
    font-weight: 100;
    font-size: 2.1rem;
    animation: fadeIn 5s;

    // &:hover{
    //     text-shadow: 0 0 9px white, 0 0 3px white;
    // }
}

@media only screen and (max-width : 550px) {
    .contact{
        p{
            font-size: 1.6rem;
        }
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}