*{
    background: transparent;
    color: white;
}

.exp{
    height: 100%;
}

.timeline{
    display: flex;
    width: 100%;
    padding: 21px;

    .timeline-work, .timeline-study{
        width:50%;
        gap: 3rem;
        display: flex;
        flex-direction: column;

        .header{
            display: inline-block;
            color: white;
            font-size: 21px;
            font-weight: 550;
            line-height: 1rem;
            letter-spacing: 0.6rem;
            position: relative;
            text-transform: uppercase;
            padding: 6px 11px;
            border-bottom: 1.6px solid white;
        }
        .header::before, .header::after{
            position: absolute;
            content: '';
            width: 1.6px;
            height: 5px;
            background-color: white;
            bottom: -1px;
        }
        .header::before{
            left: 0;
        }
        .header::after{
            right: 0;
        }
    }
}