.audio-wrapper {
    background: transparent;
    justify-content: right;
    right: 1px;
    display: flex;
    top: 90%;
    margin-right: 3%;
    position: fixed;
    z-index: 9999; /* Ensure it's on top of other elements */

}

.disc-cover {
    margin-right: 21px;
    animation: spin infinite 10s linear;
    position: relative;
}

.audio-box {
    border: 1.6px solid white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 33px;
    padding-right: 20px;
    display: flex;
    z-index: 100;
    position: relative;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media only screen and (max-width : 450px){
    .audio-wrapper {
            display: none;
    }
}