/*    KEEP FIGHTING THE GOOD FIGHT     */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --white-theme-background-color: #1d1d1d;
  --white-theme-main-color: white;
  --white-theme-sub-text-color: yellow;
  --white-theme-nav-background-color: #181818;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 63%;
  height: 100%;
}

body{
  background: var(--white-theme-background-color);
  height: 100%;
}

#root{
  height: 100%;
}