/*    KEEP FIGHTING THE GOOD FIGHT     */
// Import Manrope font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

// Define variables for font weights (optional)
$font-regular: 'Manrope', sans-serif;
$font-medium: 'Manrope Medium', sans-serif;
$font-semibold: 'Manrope SemiBold', sans-serif;
$font-bold: 'Manrope Bold', sans-serif;

:root{
  --white-theme-background-color: black;
  --white-theme-main-color: white;
  --white-theme-sub-text-color: yellow;
  --white-theme-nav-background-color: black;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 63%;
  height: 100%;
}

body{
  font-family: $font-regular; 
  background: var(--white-theme-background-color);
  height: 100%;
}

#root{
  height: 100%;
}